body {
  font-family: sans-serif;
}

form {
  width: 100%;
  max-width: 25em;
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  & label {
    display: flex;
    flex-flow: column;
  }

  & input {
    border: 0.1em solid black;
    padding: 0.5em 1em;
  }

  & button {
    margin-top: 3em;
    padding: 0.5em 1em;
    cursor: pointer;
  }
}

div.json {
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
  white-space: pre;
}
